# alternc general settings
alternc alternc/hostingname string <%= @panel_title %>
alternc alternc/desktopname string <%= @panel_hostname %>
alternc alternc/internal_ip string <%= @panel_internal_ip %>
alternc alternc/public_ip string <%= @panel_public_ip %>
alternc alternc/use_private_ip boolean <%= @panel_use_private_ip %>
alternc alternc/alternc_html string <%= @html_directory %>
alternc alternc/alternc_mail string <%= @mail_directory %>
alternc alternc/alternc_logs string <%= @logs_directory %>
alternc alternc/monitor_ip string
alternc alternc/alternc_location string
alternc alternc/postrm_remove_datafiles boolean
alternc alternc/slaves string
# dns settings
alternc alternc/ns1 string <%= @ns_primary %>
alternc alternc/ns2 string <%= @ns_secondary %>
alternc alternc/postrm_remove_bind boolean
# mysql settings
alternc alternc/use_local_mysql boolean <%= @database_is_local %>
alternc alternc/mysql/host string <%= @database_host %>
alternc alternc/mysql/db string <%= @database_name %>
alternc alternc/mysql/client string <%= @database_host %>
alternc alternc/mysql/user string <%= @database_user %>
alternc alternc/mysql/password password <%= @database_password %>
alternc alternc/mysql/alternc_mail_user string <%= @database_mail_user %>
alternc alternc/mysql/alternc_mail_password password <%= @database_mail_password %>
alternc alternc/use_remote_mysql boolean <%= ! @database_is_local %>
alternc alternc/mysql/remote_user string <%= @database_user %>
alternc alternc/mysql/remote_password password <%= @database_password %>
alternc alternc/retry_remote_mysql boolean
alternc alternc/sql/backuptype string rotate
alternc alternc/sql/backupoverwrite string no
alternc alternc/postrm_remove_databases boolean
# email settings
alternc alternc/default_mx string <%= @mx_primary %>
alternc alternc/default_mx2 string <%= @mx_secondary %>
alternc alternc/postrm_remove_mailboxes boolean
# quota settings
alternc alternc/quotauninstalled note false